<template lang="html">
  <div>
    <hero> {{heroTitle.TESTING_TITLE}} </hero>
    <section class="section">
      <div class="container box">

        <menu-bar>
          <div class="level-item">
            <div class="control">
              <div class="select">
                <select  @change="chosenModel($event.target.value)">
                  <option v-for="model in svmModels" :key="model._id" :value="model.name">{{model.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="level-item">
            <button class="button is-danger" @click.stop="testData"> Test </button>
          </div>
        </menu-bar>

        <!-- <processing-config v-show="showConfig" /> -->

        <div v-if="isInitial || isSaving">
          <file-select/>
        </div>

        <div class="box" v-if="isTested || isAnalyzed">
          <div class="">
            <p class="subtitle">Test Result</p>
            <p>Positif: {{ positiveCount }}</p>
            <p>Negatif: {{ negativeCount }}</p>
          </div>
          <hr />
          <button class="button is-danger" @click.stop="analyze()">analyze</button>
          <div class="" v-if="isAnalyzed">
            <hr />
            <p class="subtitle">Analysis Result</p>
            <table class="table is-bordered">
              <tr>
                <td></td>
                <th>Positif</th>
                <th>Negatif</th>
              </tr>
              <tr>
                <th>Positif</th>
                <td>{{this.truePositive}}</td>
                <td>{{this.falsePositive}}</td>
              </tr>
              <tr>
                <th>Negatif</th>
                <td>{{this.falseNegative}}</td>
                <td>{{this.trueNegative}}</td>
              </tr>
            </table>
            <p>sensitivity: {{this.sensitivity}}%</p>
            <p>specificity: {{this.specificity}}%</p>
            <p>precision: {{this.precision}}%</p>
            <p>accuracy: {{this.accuracy}}%</p>
          </div>
        </div>

        <div v-if="isSuccess || isTested || isAnalyzed">
          <data-list :images="images._items" :isProcessed="isTested || isAnalyzed" :mode="'TESTING'"/>
        </div>
        <div v-if="isProcessed">
          <data-list :images="images._items" :isProcessed="isProcessed" :mode="'LABELING'"/>
        </div>

        <div class="box has-text-centered process-box" v-if="isTesting || isFailed || isLoading">
          <p class="subtitle" v-show="isTesting">Testing Data...</p>
          <p class="subtitle" v-show="isFailed">Error</p>
          <p class="subtitle" v-show="isLoading">Loading Data...</p>
        </div>

      </div>
    </section>
  </div>
</template>

<script>
import hero from '@/components/base/Hero'
import fileSelect from '@/components/base/FileSelect'
import menuBar from '@/components/base/MenuBar'
import dataList from '@/components/base/DataList'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3
const STATUS_PROCESSING = 4, STATUS_PROCESSED = 5, STATUS_TRAINING = 6, STATUS_TRAINED = 7
const STATUS_TESTING = 8, STATUS_TESTED = 9
const STATUS_LOADING = 10, STATUS_ANALYZED = 11

export default {
  components: { hero, fileSelect, dataList, menuBar },
  data () {
    return {
      showConfig: false,
      modelChoice: "model-dummy"
    }
  },
  computed: {
    truePositive() {
      if (this.isAnalyzed) {
        return this.$store.getters.getModelAnalysis(this.modelChoice).true_positive
      }
    },
    falsePositive() {
      if (this.isAnalyzed) {
        return this.$store.getters.getModelAnalysis(this.modelChoice).false_positive
      }
    },
    trueNegative() {
      if (this.isAnalyzed) {
        return this.$store.getters.getModelAnalysis(this.modelChoice).true_negative
      }
    },
    falseNegative() {
      if (this.isAnalyzed) {
        return this.$store.getters.getModelAnalysis(this.modelChoice).false_negative
      }
    },
    precision() {
      if (this.isAnalyzed) {
        return 100 * this.truePositive / (this.truePositive + this.falsePositive)
      }
    },
    sensitivity() {
      if (this.isAnalyzed) {
        return 100 * this.truePositive / (this.truePositive + this.falseNegative)
      }
    },
    specificity() {
      if (this.isAnalyzed) {
        return 100 * this.trueNegative / (this.trueNegative + this.falsePositive)
      }
    },
    accuracy() {
      if (this.isAnalyzed) {
        return 100 * (this.truePositive + this.trueNegative) / (this.truePositive+this.trueNegative+this.falsePositive+this.falseNegative)
      }
    },
    heroTitle() {
      return this.$store.getters.getHeroTitle
    },
    svmModels() {
      return this.$store.state.svm_model._items
    },
    images() {
      return this.$store.state.images
    },
    positiveCount() {
      return this.$store.getters.getResultCount('positive')
    },
    negativeCount() {
      return this.$store.getters.getResultCount('negative')
    },
    isInitial() {
      return this.$store.getters.getCurrentStatus === STATUS_INITIAL
    },
    isSaving() {
      return this.$store.getters.getCurrentStatus === STATUS_SAVING
    },
    isSuccess() {
      return this.$store.getters.getCurrentStatus === STATUS_SUCCESS
    },
    isFailed() {
      return this.$store.getters.getCurrentStatus === STATUS_FAILED
    },
    isProcessing() {
      return this.$store.getters.getCurrentStatus === STATUS_PROCESSING
    },
    isProcessed() {
      return this.$store.getters.getCurrentStatus === STATUS_PROCESSED
    },
    isTesting() {
      return this.$store.getters.getCurrentStatus === STATUS_TESTING
    },
    isTested() {
      return this.$store.getters.getCurrentStatus === STATUS_TESTED
    },
    isLoading() {
      return this.$store.getters.getCurrentStatus === STATUS_LOADING
    },
    isAnalyzed() {
      return this.$store.getters.getCurrentStatus === STATUS_ANALYZED
    }
  },
  methods: {
    showConfigToggle() {
      this.showConfig = !this.showConfig
    },
    loadModel() {
      this.$store.dispatch('loadModel', {
        projection: {name: 1}
      })
    },
    chosenModel(name) {
      this.modelChoice = name
    },
    testData() {
      if (this.modelChoice === "model-dummy") {
        this.modelChoice = this.svmModels[this.svmModels.length - 1].name
      }
      this.$store.commit('setCurrentStatus', {currentStatus: STATUS_TESTING})
      this.$store.dispatch('testData', {
        ref_id: this.svmModels.find(i => i.name === this.modelChoice)._id,
        command: 'test_model',
        scope: ['all']
      })
    },
    analyze() {
      if (true) { // make the condition of labelled data
        this.$store.dispatch('analyze', {
          ref_id: this.svmModels.find(i => i.name === this.modelChoice)._id,
          command: 'analyze',
          scope: ['all']
        }).then((response) => this.$store.commit('setCurrentStatus', {currentStatus: STATUS_ANALYZED}))
      }
    }
  },
  beforeMount() {
    this.loadModel()
    this.$store.commit('setCurrentStatus', {currentStatus: STATUS_INITIAL})
  },
}
</script>

<style lang="scss" scoped>
  .process-box {
    padding-top: 100px;
    padding-bottom: 100px;
  }
</style>
