<template lang="html">
  <div>
    <hero>{{ heroTitle.TRAINING_TITLE }}</hero>
    <section class="section">
      <div class="container box">
        <menu-bar>
          <div class="level-item">
            <button class="button is-danger" @click.stop="trainData">Train</button>
          </div>
        </menu-bar>
        <div v-if="isInitial || isSaving">
          <file-select></file-select>
        </div>

        <div v-if="isSuccess || isProcessed">
          <data-list :images="images._items" :isProcessed="isProcessed" :mode="'TRAINING'"></data-list>
        </div>

        <div class="box has-text-centered process-box" v-if="isProcessing || isFailed || isTraining || isLoading">
          <p class="subtitle" v-show="isProcessing">Processing Data...</p>
          <p class="subtitle" v-show="isFailed">Error</p>
          <p class="subtitle" v-show="isTraining">Training Data...</p>
          <p class="subtitle" v-show="isLoading">Loading Data...</p>
        </div>

        <div class="level box" v-if="isSuccess || isProcessed">
          <hr>
          <div class="level-left">
          </div>
          <div class="level-right">
            <div class="level-item">
              <button class="button is-danger is-medium" @click.stop="trainData">Train</button>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</template>

<script>
import hero from '@/components/base/Hero'
import fileSelect from '@/components/base/FileSelect'
import DataList from '@/components/base/DataList'
import MenuBar from '@/components/base/MenuBar'
// import { fetchImages, saveLabels } from '@/api'
// import { mapState } from 'vuex'
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3
const STATUS_PROCESSING = 4, STATUS_PROCESSED = 5, STATUS_TRAINING = 6, STATUS_TRAINED = 7
const STATUS_LOADING = 10
export default {
  components: { hero, fileSelect, DataList, MenuBar},
  data () {
    return {
      showConfig: false
    }
  },
  computed: {
    images() {
      return this.$store.state.images
    },
    heroTitle() {
      return this.$store.getters.getHeroTitle
    },
    selectFiles: {
      get() {
        return this.$store.state.files
      },
      set(files) {
        this.$store.commit('setFiles', files)
      }
    },
    isInitial() {
      return this.$store.getters.getCurrentStatus === STATUS_INITIAL
    },
    isSaving() {
      return this.$store.getters.getCurrentStatus === STATUS_SAVING
    },
    isSuccess() {
      return this.$store.getters.getCurrentStatus === STATUS_SUCCESS
    },
    isFailed() {
      return this.$store.getters.getCurrentStatus === STATUS_FAILED
    },
    isProcessing() {
      return this.$store.getters.getCurrentStatus === STATUS_PROCESSING
    },
    isProcessed() {
      return this.$store.getters.getCurrentStatus === STATUS_PROCESSED
    },
    isTraining() {
      return this.$store.getters.getCurrentStatus === STATUS_TRAINING
    },
    isLoading() {
      return this.$store.getters.getCurrentStatus === STATUS_LOADING
    }
  },
  methods: {
    currentStatus(status) {
      return this.$store.commit(
        'setCurrentStatus',
        {currentStatus: status}
      )
    },
    trainData() {
      this.currentStatus(STATUS_TRAINING)
      this.$store.dispatch('trainData', {command: 'train_model', scope: ['all']})
        .then((response) => this.$router.push('/testing'))
    },

  },
  beforeMount() {
    this.$store.commit('setCurrentStatus', {currentStatus: STATUS_INITIAL})
    // NOTE: Nanti diganti lagi ya untuk sementara fetching langsung
  },
  mounted(){
    // this.$store.commit('resetForm')
  }
}
</script>

<style lang="scss" scoped>
  .media-left > label > figure > img {
    height: auto;
    min-width: 320px;
    max-width: 420px;
  }

  .process-box {
    padding-top: 100px;
    padding-bottom: 100px;
  }
</style>
