<template lang="html">
  <div class="">
    <div class="" v-for="(image, imidx) in images" :key="image._id">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title level">
            <div class="level-left">
              <div class="level-item">
                {{ image.filename }}
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button class="delete" aria-label="delete" @click.stop="selectData(image)"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="columns">
            <div class="column is-7">
              <label v-if="isProcessed">
                <span class="label">Detected Cells</span>
                <figure class="image is-4by3">
                  <img :src="'data:image/jpg;base64, '+image.detected.file" :alt="image.filename">
                </figure>
              </label>
              <label>
                <span class="label">Raw Image</span>
                <figure class="image is-4by3">
                  <img :src="'data:image/jpg;base64, '+image.raw_file.file" :alt="image.filename">
                </figure>
              </label>
            </div>

            <div class="column is-5" v-if="isProcessed">
              <result-list v-if="isTesting" :image="image" :imidx="imidx"/>
              <label-list v-if="isTraining || isLabeling" :image="image" :imidx="imidx"/>
            </div>
            <div class="column is-5" v-else>
              <div class="box">
                <p class="subtitle">Image is not processed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LabelList from '@/components/base/LabelList'
import ResultList from '@/components/base/ResultList'

export default {
  props: {
    images: Array,
    isProcessed: Boolean,
    mode: String
  },
  components: {LabelList, ResultList},
  computed: {
    isTraining() {
      return this.mode === "TRAINING"
    },
    isTesting() {
      return this.mode === "TESTING"
    },
    isLabeling() {
      return this.mode === "LABELING"
    }
  },
  methods: {
    selectData(selectedData) {
      this.$store.commit('setTemp', {temp: selectedData})
      this.$store.commit('setDialogState', {dialogState: true})
    }
  }
}
</script>

<style lang="scss" scoped="">
</style>
