<template lang="html">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <router-link :to="`/`" class="navbar-item">
          Home
        </router-link>
        <router-link :to="`/training`" class="navbar-item">
          Training
        </router-link>
        <router-link :to="`/testing`" class="navbar-item">
          Testing
        </router-link>
        <router-link :to="`/inspect`" class="navbar-item">
          Inspect
        </router-link>
        <router-link :to="`/result`" class="navbar-item">
          Result
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
}
</script>

<style lang="scss">
</style>
