<template lang="html">
  <div class="">
    <label class="label">Label Data</label>
    <div class="box">
      <div class="field is-horizontal" v-for="(label, idx) in image.labels" :key="idx">
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label>{{idx+1}}.&nbsp;</label>
              <label class="radio has-text-danger">
                <input type="radio" @input="selectedLabel($event, idx, imidx)" :name="imidx+'label'+idx" :value="1" :checked="isPositive(idx, imidx)">
                Positif
              </label>
              <label class="radio has-text-link">
                <input type="radio" @input="selectedLabel($event, idx, imidx)" :name="imidx+'label'+idx" :value="-1" :checked="isNegative(idx, imidx)">
                Negatif
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // props: this.slotProps,
  props: {
    image: Object,
    imidx: Number
  },
  methods: {
    selectedLabel: function (e, idx, imidx) {
      this.$store.commit(
        'updateLabel',
        {id: idx, imid: imidx, value: parseInt(e.target.value)}
      )
      const labels = this.$store.getters.getLabels(imidx)
      // console.log(labels.length === labels.filter(label=>label).length)
      if (labels.length === labels.filter(label => label).length) {
        this.$store.dispatch('updateLabelAction', imidx)
      }
    },
    isNegative(idx, imidx) {
      return this.$store.getters.getLabels(imidx)[idx] === -1
    },
    isPositive(idx, imidx) {
      return this.$store.getters.getLabels(imidx)[idx] === 1
    }
  }
}
</script>

<style lang="scss" scoped="">
</style>
