<template lang="html">
<div class="box">
  <h4 class="subtitle">Processing Config</h4>
  <hr>
  <div class="columns">
    <div class="column is-4">
      <config-field v-bind.sync="getConfig('height')" @update-config="UpdateConfig">Image Height</config-field>
      <config-field v-bind.sync="getConfig('width')" @update-config="UpdateConfig">Image Width</config-field>
      <config-field v-bind.sync="getConfig('segmentation_kernel')" @update-config="UpdateConfig">
        <div class="select">
          <select :value="getConfig('segmentation_method')" @change="UpdateConfig('segmentation_method', $event.target.value)">
            <option value="adaptive">Adaptive Threshold</option>
            <option value="otsu">Otsu's Threshold</option>
          </select>
        </div>

      </config-field>
    </div>
    <div class="column is-4">
      <config-field v-bind.sync="getConfig('median_kernel')" @update-config="UpdateConfig">Median Kernel</config-field>
      <config-field v-bind.sync="getConfig('erode_kernel')" @update-config="UpdateConfig">Erode Kernel</config-field>
      <config-field v-bind.sync="getConfig('dilate_kernel')" @update-config="UpdateConfig">Dilate Kernel</config-field>
    </div>
    <div class="column is-4">
      <config-field v-bind.sync="getConfig('smallest_cell')" @update-config="UpdateConfig">Smallest Cell</config-field>
      <config-field v-bind.sync="getConfig('circularity_th')" @update-config="UpdateConfig">Circularity Threshold</config-field>
    </div>
  </div>
  <hr />
  <button class="button is-danger" @click.stop="selectData(selectedData)">DELETE ALL DATA</button>
</div>
</template>

<script>
import ConfigField from '@/components/base/ConfigField'
export default {
  components: { ConfigField },
  computed: {
    selectedData() {
      return {
        _id: "",
        _etag: ""
      }
    }
  },
  methods: {
    UpdateConfig(name, value) {
      console.log(value)
      const data = {}
      if (name == 'segmentation_method') {
        data[name] = value
      }
      else {
        data[name] = Number(value)
      }
      return this.$store.dispatch('updateConfig', data)
    },
    getConfig(name) {
      if (this.$store.state.processing_config._items[0]) {
        if (name == 'segmentation_method') {
          return this.$store.getters.getConfig(name)
        }
        return {
          name: name,
          value: this.$store.getters.getConfig(name)
        }
      }
    },
    selectData(selectedData) {
      this.$store.commit('setTemp', {temp: selectedData})
      this.$store.commit('setDialogState', {dialogState: true})
    }
  }
}
</script>

<style lang="scss">
</style>
